{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
        <title> Register - FootPrints</title>
{% endblock title %}

{% block container %}

<div class= "container">
  <h3>Register yourself on FootPrints </h3>
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
    <!-- Button to close the alerts -->
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

{% endfor %}
{% endif %}


  <form action="" method="POST" class="mt-2 col-6 ">
    {% csrf_token %}
    {{ register_form|crispy }}
<button type="submit" class="btn btn-success btn-lg mt-2 mb-2 shadow">Register</button> 
</form>

</div>

{% endblock container %}
